<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>List User</title>
</head>
<body>
<div class="container">
    <div class="col-md-6">
        <div class="col-md-auto">
            <form action="" th:object="${user}" th:action="@{save}" method="post">
                <div>
                    <lable th:text="Name" th:for="name"></lable>
                    <input type="text" class="form-control" th:field="*{name}">
                </div>
                <div>
                    <lable th:text="Email" th:for="email"></lable>
                    <input type="text" class="form-control" th:field="*{email}">
                </div>
                <div>
                    <lable th:text="Phone" th:for="Phone"></lable>
                    <input type="text" class="form-control" th:field="*{phone}">
                </div>
                <div style="clear: both;display: block;height: 10px"></div>
                <input type="submit" value="Save New Data" class="btn btn-success">
            </form>
        </div>
    </div>
</div>

</body>
</html>