<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>List User</title>
</head>
<body>
<div class="container col-md-6">
<div class="col-md-auto">
    <h2>Edit User Manager</h2>
    <form th:object="${user}" th:action="@{/save}" method="post">
        <input type="hidden" th:field="*{id}">

        <div>
            <label th:text="name" th:for="name"></label>
            <input type="text" class="form-control" th:field="*{name}">
        </div>
        <div style="clear: both;display: inline-block;height: 10px"></div>

        <div>
            <label th:text="Email" th:for="email"></label>
            <input type="text" class="form-control" th:field="*{email}">
        </div>
        <div style="clear: both;display: inline-block;height: 10px"></div>

        <div>
            <label th:text="Phone" th:for="phone"></label>
            <input type="text" class="form-control" th:field="*{phone}">
        </div>
        <div style="clear: both;display: inline-block;height: 10px"></div>
        <input type="submit" value="Update User" class="btn btn-success">
    </form>
</div>
</div>
</body>
</html>