<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>List User</title>
</head>
<body>
<div class="container">
    <div class="col-md-6">
        <h2>Seach By Name</h2>
        <form th:object="${search}" th:action="@{/search}" method="get">
            <input type="text" name="name" id="name" th:value="${search}"/>
            <input type="submit" value="Search"/>
            <div th:if="${not #lists.isEmpty(search)}">
                <h2>Students List</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>
                    <tr th:each="search:${search}">
                        <td th:text="${search.id}"></td>
                        <td th:text="${search.name}"></td>
                        <td th:text="${search.phone}"></td>
                        <td th:text="${search.email}"></td>
                    </tr>
                </table>
            </div>
        </form>

    </div>
    <div class="col-md-6">
        <table class="table table-active">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>CRUD</th>
            </tr>
            <tr th:each="list:${list}">
                <td th:text="${list.name}"></td>
                <td th:text="${list.email}"></td>
                <td th:text="${list.phone}"></td>
                <td>
                    <a th:href="@{/edit?id={id}(id=${list.id})}" class="btn btn-dark">Edit</a>
                    <a th:href="@{/delete?id={id}(id=${list.id})}" class="btn btn-warning">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/add" class="btn btn-success">Create New User</a>
    </div>
</div>

</body>
</html>